body { background-color: #7F776D; }
h1, h2 { text-align: center; }
fieldset { border-radius: 5px; padding-left: 5px; padding-right: 2px; border-color: greenyellow; }
fieldset:hover { border-color: greenyellow; }
legend { color: #e74645; }
ul { list-style-type: none; padding-left: 0; margin: 0; }
li { height: 25px; padding-top: 1.5px; padding-bottom: 1.5px; display: flex; align-content: center; }
img { height: 20px; width: 20px; padding-right: 5px; }
a { width: 300px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: white; }
a:link, :visited, :hover, :active { text-decoration: none; }

.grid-item { width: 340px; }
.search { margin-top: 10px; margin-bottom: 10px; }

#search { margin: 0 auto; min-width: 30%; display: block; padding: 10px; }
